<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.21.0" targetFramework="net40" requireReinstallation="True" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net451" requireReinstallation="True" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
</packages>